.aboutMe {
    background-color: black;
    color:white;
    min-height: 120vh;
    z-index: +1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    cursor:none;
    background-image:url('../assets/background-images/vertical-line-dimmed.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red; /* Use background-color instead of color */
  opacity: 0;
  pointer-events: none; /* So it doesn't block clicks */
  z-index: 9999;
  transition: width,height,border-radius 0.1s ease-out;
}


.aboutMeCanvas {
    width: 50vw;
    min-height: 500px;
    margin: 8em 0em;
}

.headingContainer {
    font-family:'IBMPlexMono Nerd Font',monospace;
    font-size: 3em;
}

.headingWord {
    margin-bottom: -10px;
    margin-top: -10px;
}

.aboutmePara {
    margin-top: 50px;
    font-family:'IBMPlexMono Nerd Font',monospace;
    font-size: 1.5em;
}

.aboutmePara p {
    margin: 20px 0px;
}

.hiheadingword {
    height: 66.4px;
}

.showMoreButton {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  font-family: 'IBMPlexMono Nerd Font', monospace;
  font-size: 1em;
  border: 1px solid white;
  padding: 8px 16px;
  cursor: none;
  transition: background-color 0.5s;
  border-radius: 3em;
  position:relative;
  overflow:hidden;
  z-index: 1;
}

.showMoreButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  transition: width 0.1s ease-out;
  z-index: -1;
}

.showMoreButton[data-direction='left']:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.showMoreButton[data-direction='right']:hover::before {
  right: 0;
  left:auto;
  width: 100%;
}

.showMoreButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(255, 0, 0, 0.5);
  transition: height 0.1s ease-out;
  z-index: -1;
}

.showMoreButton[data-direction='top']:hover::after {
    top: 0;
    bottom: auto;
    height: 100%;
}

.showMoreButton[data-direction='bottom']:hover::after {
    bottom: 0;
    top: auto;
    height: 100%;
}


.showContainer {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1.05s cubic-bezier(0,0.8,0.5,0.895),opacity 2s ease-out;

}

.showContainer.show {
    max-height: 1800px;
    opacity:1;
    transition: max-height 3s linear, opacity 2s ease-out;
}