.aboutMe {
    background-color: black;
    color:white;
    height: 120vh;
    z-index: +1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    cursor:none;
}

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red; /* Use background-color instead of color */
  opacity: 0;
  pointer-events: none; /* So it doesn't block clicks */
  z-index: 9999;
}


.aboutMeCanvas {
    width: 50vw;
    height: 500px;
}

.headingContainer {
    font-family:'IBMPlexMono Nerd Font',monospace;
    font-size: 3em;
}

.headingWord {
    margin-bottom: -10px;
    margin-top: -10px;
}

.aboutmePara {
    margin-top: 50px;
    font-family:'IBMPlexMono Nerd Font',monospace;
    font-size: 1.5em;
}

.aboutmePara p {
    margin: 20px 0px;
}
