.heroArea {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    margin-bottom: 20vh;
}

.tagLineContainer {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 180px;
    font-weight: 600;
    display:flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-bottom: 50px;
}

.tagLineContainer div div {
    transition: transform 0.3s ease-out;
}
.wordContainer {
    display:flex;
    margin-right: 50px;
}

.wordContainer div {
    z-index: -3;
}