.qualifications {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    border-bottom: solid red 5px;
    padding-top: 105px;
    box-sizing: border-box;
    padding-bottom: 6vh;
}

.mainHeading {
    font-size: calc(5vh + 2.5vw);
}

.timelineContainer {
    height: 60vh;
    border:solid red 4px;
}