.sideBar {
    height: 200px;
    width: 200px;   
    position:fixed;
    top:40px;
    left: 20px;
    border: var(--primary) solid 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBar ul {
    list-style: none;
    padding:0px;
    margin-top: 20px;
}

.sideBar li {
    transition: transform 0.2s ease-out;
    margin: 0px 6px 0px 6px;
}

.sideBar li:hover {
    transform: scale(2.05);
    cursor: pointer;
}

.fadeIn {
    transform: scale(2.05);
}

.sideBar a {
    color:var(--text);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.sideBar h3 {
    border: var(--text) solid 4px;
    border-radius: 30px;
    width: 70px;
}