.sideBar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    /* left: 40px; */
    /* border: var(--primary) solid 2px; */
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-top: 15px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    z-index: +2;
}

.sideBarContentContainer {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.logoSideBar {
    margin-right: 100px;
}

.sideBar a {
    transition: background-size 0.3s ease-out;
    /* border-radius 0.2s ease-out; */
    /* transform 0.2s ease-out; */
    margin: 8px;
    background-image: linear-gradient(rgba(53, 211, 153));
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: 100% 20%;
    color: var(--text);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    padding: 2px;
}

.sideBar a:hover {
    /* transform: scale(1.2); */
    cursor: pointer;
    background-size: 100% 100%;
    /* border-radius: 16px; */
}

.sideBar a.fadeIn {
    /* transform: scale(1.2); */
    background-size: 100% 100%;
    /* border-radius: 16px; */

}



.sideBar .logoSideBar {
    border: var(--text) solid 4px;
    border-radius: 30px;
    width: 70px;
    font-size: 32px;
    font-weight: bold;
}

.sideBar.darkMode {
    cursor: none;
}


.sideBar.darkMode .logoSideBar {
    color: white;
    border-color: white;
}

.sideBar.darkMode a {
    margin-top: 20px;
    background-color: transparent;
    color: white;
    font-family: 'IBMPlexMono Nerd Font', monospace;
    font-size: 1.5em;
    border: 2px solid white;
    padding: 8px 16px;
    cursor: none;
    transition: background-color 0.5s,
    transform 0.3s ease-out;
    border-radius: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-size: 0% 0%;
}

.sideBar.darkMode a:hover {
    border-color: transparent;
    transform: scale(1.25);
}

.sideBar.darkMode a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  transition: width 0.1s ease-out;
  z-index: -1;
}

.sideBar.darkMode a[data-direction='left']:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.sideBar.darkMode a[data-direction='right']:hover::before {
  right: 0;
  left:auto;
  width: 100%;
}

.sideBar.darkMode a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(255, 0, 0, 0.5);
  transition: height 0.1s ease-out;
  z-index: -1;
}

.sideBar.darkMode a[data-direction='top']:hover::after {
    top: 0;
    bottom: auto;
    height: 100%;
}

.sideBar.darkMode a[data-direction='bottom']:hover::after {
    bottom: 0;
    top: auto;
    height: 100%;
}

.sideBar.darkMode a.fadeIn::after {
    bottom: 0;
    top: auto;
    height: 100%;
}

.sideBar.darkMode a.fadeIn::before {
    background-color: transparent;
}

.sideBar.darkMode a.fadeIn  {
    border-color: transparent;
}

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red; /* Use background-color instead of color */
  opacity: 0%;
  pointer-events: none; /* So it doesn't block clicks */
  z-index: 9999;
  transition: width,height,border-radius 0.1s ease-out;
}