.sideBar {
    height: 220px;
    position:fixed;
    top:60px;
    left: 40px;
    /* border: var(--primary) solid 2px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* .sideBar ul {
    list-style: none;
    padding:0px;
    margin-top: 20px;
} */

.sideBar a {
    transition: background-size 0.3s ease-out;
    /* border-radius 0.2s ease-out; */
    /* transform 0.2s ease-out; */
    margin: 8px;
    background-image: linear-gradient(var(--primary));
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: 100% 30%;
    color:var(--text);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    padding: 2px;
}

.sideBar a:hover {
    /* transform: scale(1.2); */
    cursor: pointer;
    background-size: 100% 100%;
    /* border-radius: 16px; */
}

.sideBar a.fadeIn {
    /* transform: scale(1.2); */
    background-size: 100% 100%;
    /* border-radius: 16px; */

}



.sideBar h3 {
    border: var(--text) solid 4px;
    border-radius: 30px;
    width: 70px;
}
