.work {
    position:relative;
    height: 360vh; /* 60 per screen */
}

.stickyWorkContainer {
    position:sticky;
    height: 100vh;
    top:0;
}

/*********** WORK AND EXPERIENCE DIVS STYLES **************/

/******* COMMON TO ALL ******************/
.stickyWorkContainer > div {
    height: 100vh;
    width: 100%;
    display:flex;
}

.stickyWorkContainer > .firstHeading {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    text-align: center;
}

.colorPillar {
    height: 100vh;
    width: 15px;
}

.expContainer {
    flex:1;
    /* padding-top: 105px; */
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.expHeading {
    font-size: 14vh;
}

.firstPara, .secondPara {
    font-size: 3.25vh;
    color: rgb(255, 255, 255);
    width: 30vw;
}

.imageContent {
    width: 400px;
    height: 300px;
    border: solid red 4px;
    text-align: center;
}

/********* Heading *************/
.firstHeading {
    z-index: 20;
    position:relative;
    background: rgb(245, 248, 255);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    text-align: center;

    

    /* Make bottom half transparent using a mask */
    /* mask-image: radial-gradient(circle, black 100%, transparent 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat; */

    /* Safari/WebKit support */
    /* -webkit-mask-image: radial-gradient(circle, black 100%, transparent 100);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat; */
}


/*********** First Experience *************/
.firstExperience {
    z-index: 18;
    position: absolute;
    top:0;
    background-color: rgb(122, 185, 224);
    color: rgb(255, 247, 148);
}

.firstExperience .colorPillar {
    background-color: rgb(255, 247, 148);
}

/*********** Second Experience *************/
.secondExperience {
    z-index: 16;
    position: absolute;
    top:0;
    background-color: yellow;
}


/*********** Third Experience *************/



/*********** Fourth Experience *************/



/*********** Fifth Experience *************/





