.work {
    position:relative;
    height: 360vh; /* 60 per screen */
}

.stickyWorkContainer {
    position:sticky;
    height: 100vh;
    top:0;
}

/*********** WORK AND EXPERIENCE DIVS STYLES **************/

/******* COMMON TO ALL ******************/
.stickyWorkContainer > div {
    height: 100vh;
    width: 100%;
    display:flex;
}

.stickyWorkContainer > .firstHeading {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    text-align: center;
}

.colorPillar {
    height: 100vh;
    width: 15px;
}

.expContainer {
    flex:1;
    /* padding-top: 105px; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.expHeading {
    font-size: calc(8vh + 3vw);
    padding-bottom: 2vh;
}

.firstPara, .secondPara {
    font-size: 3.25vh;
    color: rgb(255, 255, 255);
    width: 30vw;
    padding: 10px 0px;
}

.expImage {
    width: 500px;
    height: auto;
    clip-path: polygon(20% 0%, 95% 0%, 75% 100%, 0% 100%);
    animation: trapezoid 3s ease-in-out infinite alternate;
}

@keyframes trapezoid {
  0% {
    clip-path: polygon(20% 0%, 95% 0%, 75% 100%, 0% 100%);
    transform: translateX(-5px);
    }
  100% {
    clip-path: polygon(25% 0%, 100% 0%, 80% 100%, 5% 100%);
    transform: translateX(5px);
    }
}

/********* Heading *************/
.firstHeading {
    z-index: 20;
    position:relative;
    background: rgb(245, 248, 255);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    text-align: center;

    

    /* Make bottom half transparent using a mask */
    /* mask-image: radial-gradient(circle, black 100%, transparent 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat; */

    /* Safari/WebKit support */
    /* -webkit-mask-image: radial-gradient(circle, black 100%, transparent 100);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat; */
}


/*********** First Experience *************/
.firstExperience {
    z-index: 18;
    position: absolute;
    top:0;
    background-color: rgb(122, 185, 224);
    color: rgb(255, 247, 148);
}

.firstExperience .colorPillar {
    background-color: rgb(255, 247, 148);
}

/*********** Second Experience *************/
.secondExperience {
    z-index: 16;
    position: absolute;
    top:0;
    background-color: rgb(1, 90, 98);
    color: rgb(204, 186, 142);
}

.secondExperience .colorPillar {
    background-color: rgb(204, 186, 142)
}


/*********** Third Experience *************/



/*********** Fourth Experience *************/



/*********** Fifth Experience *************/





