:root {
  /* --text: #111117;
  --background: #D2D0A0;
  --primary: #537D5D;
  --secondary: #9EBC8A;
  --accent: #73946B; */

  /* #### BLUE  ##### */
  /* --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff; */

  --text: #020e19;
  --background: #FFFFFF;
  --primary: #298aed;
  --secondary: #9382f4;
  --accent: #8c4cf0;



  background-color: var(--background);

}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'IBMPlexMono Nerd Font';
  src: url('./assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Flabstick';
  src: url('./assets/fonts/FlapstickDEMO.otf') format('opentype');
}

@font-face {
  font-family: 'KGB';
  src: url('./assets/fonts/KGBlankSpaceSketch.ttf') format('truetype');
}